{{define "main"}}

{{if .Site.Params.mainType}}
	{{.Scratch.Set "type" .Site.Params.mainType}}
{{else}}
	{{.Scratch.Set "type" "post"}}
{{end}}

{{if .IsHome}}
	{{.Scratch.Set "Paginator" (.Paginate (where .Site.RegularPages "Type" (.Scratch.Get "type")))}}
{{else}}
	{{.Scratch.Set "Paginator" .Paginator}}
{{end}}
{{$paginator:=(.Scratch.Get "Paginator")}}
<ul>
	{{range $paginator.Pages}}
	<li>{{.Date.Format "2006-01-02"}} | <a href="{{.RelPermalink}}">{{.Title}}</a></li>
	{{end}}
</ul>

{{template "_internal/pagination.html" .}}

{{end}}