{{define "main"}}

<h2>{{.Title}}</h2>
{{.Date.Format "2006-01-30"}}
{{.TableOfContents}}
{{.Content}}

<ul>
	{{range (.GetTerms "tags")}}
		<li><a href="{{.RelPermalink}}">{{.LinkTitle}}</a></li>
	{{end}}
</ul>

{{with .PrevInSection}}<a href="{{.RelPermalink}}">{{.Title}}</a>{{end }}
{{with .NextInSection}}<a href="{{.RelPermalink}}">{{.Title}}</a>{{end }}

{{$related := .Site.RegularPages.Related . | first 5}}
{{with $related}}
<h3>See Also</h3>
<ul>
	{{range .}}
		<li><a href="{{.RelPermalink}}">{{.Title}}</a></li>
	{{end}}
</ul>
{{end}}

{{end}}